# basic data structure in python
1. Tuple
2. List 
3. Dictionaries
4. Set

# 1.Tuple
- Ordered collection of elements
- enclosed in () rounds paranthesis
- different kind of elements can be stored
- once elements are stored you can not change them (unmutable)

In [1]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [2]:
#type of tuple
type(tup1)

tuple

### - indexing in tuple

In [7]:
tup1[1]

'python'

In [8]:
tup1[2]

True

In [12]:
#last element exclussive
tup1[0:3]

(1, 'python', True)

In [13]:
#count of elements in tuple
len(tup1)

4

In [17]:
tup2 = (2, "uzair", 3.5, False)
tup2

(2, 'uzair', 3.5, False)

In [18]:
#concatinate(to add two or more than two tuples)
tup1+tup2

(1, 'python', True, 2.5, 2, 'uzair', 3.5, False)

In [21]:
#concatinate + repeat 
tup1*2+tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'uzair', 3.5, False)

In [22]:
tup3 = (3, 4, 5,34, 334,)
tup3

(3, 4, 5, 34, 334)

In [27]:
# minimum or max value to tuple
max(tup3)

334

In [30]:
tup3*3

(3, 4, 5, 34, 334, 3, 4, 5, 34, 334, 3, 4, 5, 34, 334)

---

## 2- list
- ordered collectioin of elements
- enclosed in [ ] square brackets
- mutateable, you can change the value

In [32]:
list1 = [1, "python", True]
list1

[1, 'python', True]

In [33]:
type(list1)

list

In [34]:
len(list1)

3

In [35]:
list1[2]

True

In [36]:
list2 = [2, 4, 'uzair', 'ahmad', 786, False]
list2

[2, 4, 'uzair', 'ahmad', 786, False]

In [37]:
list1 + list2

[1, 'python', True, 2, 4, 'uzair', 'ahmad', 786, False]

In [38]:
list1*2+list2

[1, 'python', True, 1, 'python', True, 2, 4, 'uzair', 'ahmad', 786, False]

In [44]:
list1.reverse()
list1

[True, 'python', 1]

In [50]:
list1.append("Uzair Ahmad")
list1

[True,
 'python',
 1,
 'Uzair Ahmad',
 'Uzair Ahmad',
 'Uzair Ahmad',
 'Uzair Ahmad',
 'Uzair Ahmad',
 'Uzair Ahmad']

In [55]:
list3 = [20, 30, 40,5,70, 50, 60, 70,4,0, 80,]
list3

[20, 30, 40, 5, 70, 50, 60, 70, 4, 0, 80]

In [56]:
len(list3)

11

In [57]:
#sorting a list
list3.sort()
list3

[0, 4, 5, 20, 30, 40, 50, 60, 70, 70, 80]

In [59]:
list3*2

[0,
 4,
 5,
 20,
 30,
 40,
 50,
 60,
 70,
 70,
 80,
 0,
 4,
 5,
 20,
 30,
 40,
 50,
 60,
 70,
 70,
 80]

In [60]:
list1+list3

[True,
 'python',
 1,
 'Uzair Ahmad',
 'Uzair Ahmad',
 'Uzair Ahmad',
 'Uzair Ahmad',
 'Uzair Ahmad',
 'Uzair Ahmad',
 0,
 4,
 5,
 20,
 30,
 40,
 50,
 60,
 70,
 70,
 80]

## 3-dictionaries
- An unordered collection of elements
- key and value
- curly braces or brackets { }
- mutateable/ you can change the value
-

In [63]:
#food and their prices
food1 = {"somosa":30, "raita":30, "pakora":100, "salad":50, "chicken roles": 40}
food1

{'somosa': 30, 'raita': 30, 'pakora': 100, 'salad': 50, 'chicken roles': 40}

In [64]:
type(food1)

dict

In [67]:
#extract data
keys1 = food1.keys()
keys1

dict_keys(['somosa', 'raita', 'pakora', 'salad', 'chicken roles'])

In [70]:
values = food1.values()
values

dict_values([30, 30, 100, 50, 40])

In [72]:
#adding new element
food1["tikki"]=20
food1

{'somosa': 30,
 'raita': 30,
 'pakora': 100,
 'salad': 50,
 'chicken roles': 40,
 'tikki': 20}

In [73]:
#update the values
food1["tikki"]=30
food1

{'somosa': 30,
 'raita': 30,
 'pakora': 100,
 'salad': 50,
 'chicken roles': 40,
 'tikki': 30}

In [75]:
food2 = {"Dates":50, "choclates":200, "sawaiyan":1000}
food2

{'Dates': 50, 'choclates': 200, 'sawaiyan': 1000}

In [78]:
#concatinate
food1.update(food2)

In [79]:
food1

{'somosa': 30,
 'raita': 30,
 'pakora': 100,
 'salad': 50,
 'chicken roles': 40,
 'tikki': 30,
 'Dates': 50,
 'choclates': 200,
 'sawaiyan': 1000}

## 4- Set
- unordered and unidexed
- curly braces are used { }
- no duplicates allows

In [81]:
s1 = {1, 1.5, 6.7, "uzair", "lahore", True}
s1

{1, 1.5, 6.7, 'lahore', 'uzair'}

In [82]:
s1.add("Ahmad")

In [83]:
s1

{1, 1.5, 6.7, 'Ahmad', 'lahore', 'uzair'}

In [86]:
s1.remove("Ahmad")

In [87]:
s1

{1, 1.5, 6.7, 'lahore', 'uzair'}

In [88]:
s1.copy()

{1, 1.5, 6.7, 'lahore', 'uzair'}